<div class="col s12 m6 l4">
    <div class="card small horizontal">
        <div class="card-image">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h5>{{movie.title}}</h5>
                <p>{{movie.release_date}}</p>
                <p>{{actors}}</p>
            </div>
            <div class="card-action center-align">
                <a href="#" onclick="Materialize.toast('Added', 4000)" class="mr0">
                    <i class="material-icons icon-blue">add</i>
                </a>
            </div>
        </div>
    </div>
</div>